@font-face {
	font-family: Apricot;
	src: url("Apricot.otf") format("opentype");
}

body {
	font-family: "Apricot";
	font-weight: normal;
	font-size: 16px;
}

menu {
	color: rgb(154, 100, 141);
	text-align: right;
	padding-right: 50px;
	
}