<div class="hero-unit ">
  <div class="container">
    <div class="nav">
      <a href="/" class="navbar-brand name"><b>Selim</b>Öber</a></li>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <nav class="col-sm-2 left">
      <ul class="nav navbar nav-icons">
        <li>
          <a href="/atom.xml"><i class="icon icon-rss"></i></a>
        </li>
        <li>
          <a class="navbar-icon" href="https://twitter.com/selimober"><i class="icon icon-twitter"></i></a>
        </li>
        <li>
          <a class="navbar-icon" href="https://github.com/selimober"><i class="icon icon-github"></i></a>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="/">writing</a></li>
        <li><a href="/timeline">doing</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
    <div class="col-sm-10 col-md-9">
