/* COMMON */

body {
	font-family: "Open Sans";
	color: #333;
	font-size: 16px;
	line-height: 22px;
}

a {
	color: #2560A0;
}

a:hover {
	color: #FF0066;
	text-decoration: underline;
}

code {
	padding: 1px 1px;
}

.container {
	max-width: 1170px;
}

/* HEAD */
.hero-unit {
	background-image: url('../img/wave.jpg');
	background-position: center;
	padding-top: 125px;
}

.navbar-brand {
	padding-left: 0;
}

/* LEFT MENU */
nav {
	padding-top: 15px;
	margin-top: 20px;
}

nav a {
	color: #333;
}

nav .nav-icons {
	margin-bottom: 0;
	min-height: 0;
}

nav .nav-icons li {
	float: left;
}

nav .nav-icons li a {
	padding-left: 0;
}

nav .nav-icons li a:hover {
	background-color: inherit;
}

/* HOME */

.listing span.post-date {
	float: right;
	text-transform: uppercase;
	color: #999;
	font-size: 12px;
}

.listing span.post-summary {
	color: #999;
	font-size: 12px;
}

.listing li {
	border-bottom: 1px solid #EEE;
	font-size: 20px;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

/* ABOUT */
.about {
	line-height: 2.5em;
	font-size: 1.3em;
	padding-top: 60px;
}

.about a {
	color: #2b9ea6;
}

.about img#avatar {
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}
/*.nav-pills>.active>a, .nav-pills>.active>a:hover, .nav-pills>.active>a:focus {
	color: inherit;
	background-color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: white;
}*/

a.name {
	font-size: 32px;
	color: white;
}

.top-menu {
	font-size: 22px;
	margin-bottom: 60px;
}

#avatar {

}

#profile {
	font-family: 'Autour One', cursive;
	font-size: 18px;
}

#profile a {
	color: #FF0066;
}

#profile ul {
	margin-top: 40px;
}

#profile li {
	margin-bottom: 0.5em;
}

.about-links .row {
	margin-bottom: 5px;
}

.about-links .span5 {
	padding-top: 3px;
}

.post_date {
	display: inline-block;
	width: 100px;
}

.date_sep {
	padding: 0 10px 0 5px;
}

h1 {
	color: #FF0066;
	padding: 15px 0 25px;
	/*text-shadow: 1px 1px 1px #AAA;*/
	font-size: 2em;
}

h2 {
	padding: 15px 0 5px 0;
	font-size: 1.7em;
}

.posts li {
	line-height: 1.8em;
}

.subtitle {
	position: relative;
	top: -2em;
}

.img-book {
	width: 25px;
	height: 25px;
}

.comment.row {
	padding-top: 2em;
}

.disclaimer {
	font-size: small;
	font-style: italic;
}